@import url('https://fonts.googleapis.com/css?family=Muli');

body {
    font-family: 'Muli', serif;
    background: #0E0E0E;
    color: #DBDBDB;
}

.text-underline {
    border-bottom: 1px black solid;
}

.table-header {
    background-color: #B29452!important;
    color: #0e0e0e;
}

.table-body {
    background-color: #DBDBDB;
    color: #0e0e0e;
}
.modal {
    position: fixed;
    top: 000px;
    right: 100px;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
}
.page-header {
    min-height: 110px;
    background-image: url(../img/pga-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}
.table-responsive-new{
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border-collapse: collapse;
    

}
.table thead th{
    border-bottom: none;
}
.table th{
    border-top: none;
}

.modal-body>.table td{
    padding: .50rem;
}

#height{
    height: 10px;;
}

.modal-body, .modal-footer{
    padding: 0;
}
.modal-footer{
    background-color: #B29452;
}

.modal-name {
    font-weight: bold;
    font-size: 1.8rem;
}

table.table-bordered {
    border: 1px solid #3C3C3B;
    margin-top: 20px;
}

table.table-bordered>thead>tr>th {
    border: 1px solid #3C3C3B;
}

table.table-bordered>tbody>tr>td {
    border: 1px solid #3C3C3B;
}

table.table-bordered>tbody>tr>th {
    border: 1px solid #3C3C3B;
}

#scoreboard {
    table-layout: auto;
    width: 100%;
    
}

.hide-row{
    display: none;
}

.show-row{
    display: table-cell;
}

.info-row {
    font-size: 10px;
    background-color: #B29452!important;
    color: #F7F4F0
}

.btn-enter{
    color: #0e0e0e;
    background-color: #B29452;
    margin-top: 15px;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
}

.rotate{
    -moz-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
    cursor: pointer;
}

.rotate.down{
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    color: #B29452;
    cursor: pointer;
}

.position {
    color: black;
}

.table td{
    border:none
}

.table {
    margin-bottom: 0;
}